<div class="panel panel-default">

    <div class="panel-heading">
        Module Result

        <span ng-show="outputAvailable">
          (Job  {{ jobs.currentId }})
        </span>

    </div>

    <div class="panel-body">

        <div btn-group>

            <button type="button"
                    class="btn btn-jtui"
                    ng-click="showSourceCode()">
                <i class="fa fa-code"></i>
            </button>

            <button type="button"
                    class="btn btn-jtui"
                    ng-click="reportBug()">
                <i class="fa fa-bug"></i>
            </button>

            <span ng-show="outputAvailable">

              <!-- TODO: type "danger" for module that failed -->

                <button type="button"
                    class="btn btn-jtui"
                    ng-click="showOutput()">
                    <i class="fa fa-terminal"></i>
                </button>

                <button type="button"
                    class="btn btn-jtui"
                    ng-click="showFigure()">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </button>

            </span>

        </div>

        <p></p>

        <!-- <div ng-show="outputAvailable"> -->

        <!--     <img data-ng-src="data:image/png;base64,{{showThumbnail()}}" -->
        <!--         style="width: 100%; height: 100%;" -->
        <!--         ng-click="showFigure()"> -->
        <!--     </img> -->

        <!-- </div> -->

        <!-- <div class="glyphicon glyphicon-none" -->
        <!--      ng-hide="outputAvailable"> -->
        <!-- </div> -->

    </div>

</div>

