<div>
  <p><tm-mapobject-type-widget></tm-mapobject-type-widget></p>

  <p>
    <label>Select objects used for training</label>
    <tm-class-selection-widget></tm-class-selection-widget>
  </p>

  <p>
    <label>Select features</label>
    <tm-feature-selection-widget
      selected-mapobject-type="mapobjectTypeWidget.selectedType">
    </tm-feature-selection-widget>
  </p>

  <p class="form-group">
    <label>Kernel</label>
    <select ng-model="toolCtrl.kernel">
      <option ng-repeat="kernel in toolCtrl.kernelOptions" value="{{kernel}}">
        {{kernel}}
      </option>
    </select>
  </p>

  <p>
    <button class="btn btn-primary"
      ng-disabled="featureWidget.selectedFeatures.length == 0"
      ng-click="toolCtrl.doClassify()">Classify</button>
  </p>
</div>
