# DAFU CONFIGURATION FILE
# =======================
#
# CHANNEL_MAPPER maps the name of the channel image given by Jterator to the
# name of the used stain in a particular cycle.

CHANNEL_MAPPER:
    1:
        DAPI: DAPI-cycle01
        RFP: EEA1-cycle01
    2:
        DAPI: DAPI-cycle11
        RFP: EEA1-cycle11
    3:
        DAPI: DAPI-cycle12
        Cy5: Celltrace-cycle12

MEASUREMENT_PROJECT: '{experiment_dir}{sep}{subexperiment}{sep}measurement_pipeline'
SEGMENTATION_PROJECT: '{experiment_dir}{sep}{experiment}_03{sep}segmentation_pipeline'
