server {
    listen {{ web_port }};

    {% if public_host_name is defined %}
    server_name {{ public_host_name }}
    {% endif %}

    access_log {{ tm_log_directory }}/nginx-access.log;
    error_log {{ tm_log_directory }}/nginx-error.log warn;

    # all non-api requests are file requests and should be served
    # from the gulp built directory
    root {{ tm_home }}/tmui/src/build;
    location / {
        try_files $uri $uri/ @proxy;
    }

    # all other request (e.g. with /api or /auth prefix) are redirected to uwsgi
    location @proxy {
        include uwsgi_params;
        uwsgi_pass {{ app_host }}:{{ app_port }};
        # uwsgi may take more time to process requests
        proxy_read_timeout 300s;
        proxy_send_timeout 300s;
    }
}
