[Unit]
Description=uWSGI application server
After=syslog.target

[Service]
ExecStart=exec env HOME={{ tm_home }} sh /home/{{ tm_user }}/.tmaps/uwsgi.sh
# Requires systemd version 211 or newer
#RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
User={{ tm_user }}
Group={{ tm_user }}
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
