<div class="selection-settings">

  <tm-multi-selection-box items="selCtrl.selections" by-name="'sel'">
    <tm-selectable-tabs>
      <tm-selectable-tab>
        <tm-selectable-tab-content>

          <span class="selection-flag inline-layer-control">
            <i class="fa fa-flag" ng-style="{'color': sel.color.toRGBString()}"></i>
          </span>

          <div class="activate-button inline-layer-control"
                ng-click="selCtrl.toggleActiveSelection(sel.id)"
                ng-class="{'currently-active': selCtrl.isActiveSelection(sel.id)}"
                tm-stop-click>
                <span>ACTIVATE</span>
          </div>

          <input type="text" ng-model="sel.name" tm-stop-click>

        </tm-selectable-tab-content>
      </tm-selectable-tab>
    </tm-selectable-tabs>

    <tm-multi-selection-controls ng-controller="SelectionControlsCtrl as controls">
      <button ng-click="selCtrl.addSelection()">
        <i class="fa fa-plus"></i>
      </button>

      <button ng-click="controls.deleteSelectedSelections()"
              ng-show="selectionBox.hasSelectedItems()">
        <i class="fa fa-trash"></i>
      </button>

      <button ng-click="controls.clearSelectedSelections()"
              ng-show="selectionBox.hasSelectedItems()">
        <i class="fa fa-circle-thin"></i>
      </button>
    </tm-multi-selection-controls>

  </tm-multi-selection-box>

</div>
