if [ -f ~/.bashrc ]; then
    . {{ tm_home }}/.bashrc
fi

# Make vim default editor
export EDITOR=vim;

# Slurm
export SQUEUE_FORMAT="%.12a %.16i %.40j %.8T %.10M %.10l %.4C %.10m %R"
export SACCT_FORMAT="Account,JobId,JobName%30,State,Exitcode,DerivedExitCode,Submit,Elapsed,CPUTime,MaxRSS,AveCPU,AveDiskRead,AveDiskWrite"

# Postgres database
export TMAPS_DB_HOST=localhost
alias db="psql -h $TMAPS_DB_HOST tissuemaps tissuemaps"
alias sudb="psql -h $TMAPS_DB_HOST postgres postgres"
