[auth/noauth]
type=none

[resource/localhost]
enabled={{ (not cluster_mode)|lower }}
type=shellcmd
spooldir=/var/tmp
transport=local
auth=noauth
architecture=x64_64
max_cores={{ tm_compute_cores }}
max_cores_per_job={{ tm_compute_cores }}
max_memory_per_core={{ tm_compute_memory }} MB
max_walltime=48 hours
override={{ tm_compute_autodiscover }}

[resource/cluster]
enabled={{ cluster_mode|lower }}
type=slurm
frontend={{ ansible_hostname }}
transport=local
auth=noauth
architecture=x86_64
max_cores={{ tm_compute_cores * tm_compute_nodes }}
max_cores_per_job={{ tm_compute_cores }}
max_memory_per_core={{ (tm_compute_memory / tm_compute_cores)|round(0, 'floor')|int }} MB
max_walltime=10 days

