[uwsgi]
module = tmserver.wsgi:app
logto = /var/log/uwsgi/tissuemaps.log
pidfile = /var/run/uwsgi/tissuemaps.pid
http-socket = :8080
uwsgi-socket = {{ uwsgi_socket }}
chmod-socket = 660
vacuum = true
master = true
processes = {{ uwsgi_processes }}
gevent = 100
die-on-term = true
lazy-apps = true
uid = {{ tm_user }}
gid = {{ tm_group }}
