[uwsgi]
module = tmserver.wsgi:app
http-socket = :8080
logto = /var/log/uwsgi/tissuemaps.log
socket = {{ uwsgi_socket }}
pidfile = /var/run/uwsgi/tissuemaps.pid
chmod-socket = 666
vacuum = true
master = true
processes = {{ uwsgi_processes }}
gevent = 100
die-on-term = true
lazy-apps = true
uid = {{ tm_user }}
gid = {{ tm_user }}
