<div>
  <p><tm-mapobject-type-widget></tm-mapobject-type-widget></p>

  <p>
    <label>Select features</label>
    <tm-feature-selection-widget
      selected-mapobject-type="mapobjectTypeWidget.selectedType">
    </tm-feature-selection-widget>
  </p>

  <p class="form-group">
    <label>Number of clusters (k)</label>
    <input type="number" class="form-control" ng-model="toolCtrl.nClusters">
  </p>

  <p class="form-group">
    <label>Algorithm</label>
    <select class="form-control" ng-model="toolCtrl.algorithm">
      <option value="kmeans">k-Means</option>
    </select>
  </p>

  <p>
    <button class="btn btn-primary"
      ng-disabled="featureWidget.selectedFeatures.length == 0"
      ng-click="toolCtrl.doCluster()">Find clusters</button>
  </p>
</div>
