<div class="jumbotron">

    <div class="container">
        <h1>
            Welcome to tissueMAPS!
        </h1>

        <p>
            A web-based software facilitating Multiplexed Analysis of Proteins in Single-Cells (MAPS) imaging technology.
        </p>

        <img src="resources/img/screen.png" alt=""/>

        <p>
            Fully open sourced:
            <a href="https://github.com/pelkmanslab/TissueMAPS">visit us on GitHub</a>
        </p>


        <p ng-show="app.isUserAuthenticated()">
            <a class="btn btn-primary btn-lg" ui-sref="viewport" role="button">
                <i class="fa fa-chevron-right"></i>
                Start tissueMAPS
            </a>
        </p>

    </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>© Company 2014</p>
  </footer>
</div>
