# Ensure correct language settings
export LANG=en_US.UTF-8

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

# Java
export JAVA_HOME=/usr/lib/jvm/java-1.{{ java_version }}-openjdk

# Python
export PATH=/home/{{ tm_user }}/.local/bin:$PATH

{% if matlab_run is success %}
## MATLAB
export MATLABROOT={{ matlab_root.stdout }}
export MATLABHOME="${MATLABROOT}"
export MATLABPATH="{{ tm_src_dir }}/jtlibrary/matlab/jtlibrary:$MATLABPATH"
export MATLABPATH="{{ tm_src_dir }}/jtlibrary/matlab/jtmodules:$MATLABPATH"
{% endif %}
