[submodule "src/javascript/app/typedefs/DefinitelyTyped"]
	path = src/javascript/app/typedefs/DefinitelyTyped
	url = https://github.com/hafenr/DefinitelyTyped
	branch = master
[submodule "src/javascript/app/assets/libs/ol3"]
	path = src/javascript/app/assets/libs/ol3
	url = https://github.com/hafenr/ol3
	branch = master
