records:
    - class: tmaps.tool.Tool
      args:
          name: ClusterTool
          description: K-means clustering tool.
          icon: CLU
          full_class_path: tools.cluster.ClusterTool
    - class: tmaps.user.User
      args:
          name: testuser
          email: testuser@something.com
          password: '123'
    - class: tmaps.user.User
      args:
          name: testuser2
          email: testuser2@something.com
          password: '123'
    - class: tmaps.experiment.Experiment
      args:
          name: 150820-Testset-CV
          description: Very nice exp
          user_id: //tmaps.user.User[name="testuser"]@id
          microscope_type: visiview
          plate_format: 96
          root_directory: /Users/robin/Dev/TissueMAPS/expdata/
          plate_acquisition_mode: multiplexing
    - class: tmaps.experiment.Channel
      args:
          name: channel_01
          index: 1
          experiment_id: //tmaps.experiment.Experiment[id=1]@id
    - class: tmaps.experiment.ChannelLayer
      args:
          channel_id: //tmaps.experiment.Channel[name="channel_01"]@id
          zplane: 0
          tpoint: 0
    - class: tmaps.experiment.ChannelLayer
      args:
          channel_id: //tmaps.experiment.Channel[name="channel_01"]@id
          zplane: 1
          tpoint: 0
