# IMAGE TOOLBOX CONFIGURATION FILE
# ================================
#
# Configuration of image preprocessing, pyramid creation and data postprocessing 
# based on the experiment layout, i.e. folder structure and file name nomenclature.
#
# The experiment layout can be described using format strings.
# To this end, you can choose from the following keywords:
#
# :experiment_dir:      Absolute path to the experiment folder (string)
# :experiment:          Name of the experiment folder, i.e. basename of 
#                       'experiment_dir' (string).                  
# :subexperiment:       Name of a subdirectory within the experiment folder (string).
# :cycle:               Number of the subexperiment (integer).
# :channel:             Number of the image in the multi-channel acquisition sequence
#                       corresponding to a particular wavelength (integer).

# Does your experiment folder contain any subexperiments?
SUBEXPERIMENTS_EXIST: Yes

# How are the names of subexperiments formatted?
SUBEXPERIMENT_FOLDER_FORMAT: '{experiment}_{cycle:0>2}'
SUBEXPERIMENT_FILE_FORMAT: '{experiment}_{cycle}'

# How to extract the experiment name and cycle number from an image filename?
EXPERIMENT_FROM_FILENAME: '^([^_]+)'
CYCLE_FROM_FILENAME: '_(\d+)_'

# Where is the shift information stored, which is required to align images
# acquired in different cycles?
# For more info about the shifDescriptor.json files see `align` package.
SHIFT_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/ALIGNCYCLES'
SHIFT_FILE_FORMAT: 'shiftDescriptor.json'

# How to extract information on the position of an image in the overall grid
# from an image filename?
COORDINATES_FROM_FILENAME: '_r(\d+)_c(\d+)_'
COORDINATES_IN_FILENAME_ONE_BASED: Yes

# How to extract the site number form an image filename?
SITE_FROM_FILENAME: '_s(\d+)_'

# How to extract the channel number form an image filename?
CHANNEL_FROM_FILENAME: 'C(\d+)\.png$'

# Where are the intensity images located?
IMAGE_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/TIFF'

# Where are the segmentation images located?
SEGMENTATION_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/SEGMENTATION'
OBJECT_FROM_FILENAME: '_segmented(\w+).png$'

# Where are the illumination statistics files located?
STATS_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/BATCH'
STATS_FILE_FORMAT: 'Measurements_batch_illcor_channel{channel:0>3}_zstack000.mat'

# Where are the measurement data located?
MEASUREMENT_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/data'

# How the global cell_id should look like
CELL_ID_FORMAT: '{row}-{column}-{cell_id}'

# Where are the measurement data stored?
DATA_FILE_LOCATION: '{experiment_dir}/data.h5'
