alembic==0.9.1
appdirs==1.4.3
APScheduler==3.3.1
asn1crypto==0.22.0
astropy==1.3.2
cached-property==1.3.0
centrosome==1.0.7
cffi==1.10.0
click==6.7
colorlover==0.2.1
cryptography==1.8.1
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
enum34==1.1.6
FITS-tools==0.0.dev282
Flask==0.12.1
Flask-JWT==0.3.2
Flask-Migrate==2.0.3
Flask-Redis==0.3.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-SQLAlchemy-Session==1.1
Flask-uWSGI-WebSocket==0.6.0
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
git+https://github.com/uzh/gc3pie@v2.6.4#egg=gc3pie-2.6.4
GeoAlchemy2==0.4.0
gevent==1.2.1
greenlet==0.4.12
h5py==2.7.0
idna==2.5
image-registration==0.2.1
ipaddress==1.0.18
ipython-genutils==0.2.0
itsdangerous==0.24
javabridge==1.0.14
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
lxml==3.7.3
mahotas==1.4.3
Mako==1.0.6
MarkupSafe==1.0
matlab-wrapper==0.9.8
matplotlib==2.0.0
mock==2.0.0
natsort==5.0.2
nbformat==4.3.0
ndg-httpsclient==0.4.2
networkx==1.11
nose==1.3.7
numexpr==2.6.2
numpy==1.12.1
olefile==0.44
opencv-contrib-python==3.2.0.7
openslide-python==1.1.1
packaging==16.8
pandas==0.19.2
paramiko==2.1.2
parsedatetime==2.3
passlib==1.7.1
pbr==3.0.0
Pillow==4.1.0
plotly==2.0.7
pluggy==0.4.0
prettytable==0.7.2
psycopg2==2.7.1
py==1.4.33
pyasn1==0.2.3
pycparser==2.17
PyJWT==1.4.2
pyOpenSSL==17.0.0
pyparsing==2.2.0
pypng==0.0.18
pytest==3.0.7
python-bioformats==1.1.0
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2017.2
PyWavelets==0.5.2
PyYAML==5.1
redis==2.10.5
requests==2.13.0
rpy2==2.8.5
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
sep==1.0.0
Shapely==1.5.17.post1
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.9
SQLAlchemy-Utils==0.32.14
subprocess32==3.2.7
tables==3.4.2
tox==2.7.0
traitlets==4.3.2
tzlocal==1.4
Werkzeug==0.12.1
whichcraft==0.4.0
