# DATAFUSION CONFIGURATION FILE
# =============================
#
# CYCLE_CHANNELS maps the name of the channel image given by Jterator to the
# name of the used stain in a particular cycle.

CHANNEL_MAPPER:
    1:
        DAPI: DAPI-cycle01
        RFP: EEA1-cycle01
    2:
        DAPI: DAPI-cycle11
        RFP: EEA1-cycle11
    3:
        DAPI: DAPI-cycle12
        Cy5: Celltrace-cycle12

SEGMENTATION_PROJECT: '{experiment_dir}/{experiment}_03/segmentation_pipeline'
