description "uWSGI server instance configured to serve TissueMAPS"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ ansible_ssh_user }}
setgid {{ ansible_ssh_user }}

chdir {{ ansible_env.HOME }}/.tmaps
exec env HOME={{ ansible_env.HOME }} bash uwsgi.sh
