# systemd service for PostgreSQL clusters

[Unit]
Description=Citus PostgreSQL Cluster {{ postgresql_version }}-{{ db_node }}

[Service]
Type=notify
User={{ db_user }}
Group={{ db_group }}
ExecStart={{ db_executable_directory }}/postgres -p {{ db_port }} -D {{ db_data_directory }}/{{ postgresql_version }}/{{ db_node }} -r {{ db_log_directory }}/postgresql-{{ postgresql_version }}-{{ db_node }}.log
ExecStop={{ db_executable_directory }}/pg_ctl stop -m smart -o "-p {{ db_port }}" -D {{ db_data_directory }}/{{ postgresql_version }}/{{ db_node }}
ExecReload={{ db_executable_directory }}/pg_ctl reload -D {{ db_data_directory }}/{{ postgresql_version }}/{{ db_node }}
SyslogIdentifier=postgresql@{{ postgresql_version }}-{{ db_node }}
# prevent OOM killer from choosing the postmaster (individual backends will
# reset the score to 0)
OOMScoreAdjust=-900
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=360

[Install]
WantedBy=multi-user.target
