<div class="modal-header">

  <button type="button" class="close" ng-click="$dismiss('Cancel')" data-dismiss="modal" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>

  <h2 class="modal-title">Help for pipeline description</h2>

</div>

<div class="modal-body">

  <ul>
    <li>
      <b>Add</b> modules by dragging them into the pipeline from the list of <i>available modules</i>.
    </li>
    <li>
      <b>Change the order</b> of modules by dragging them into the desired position within the pipeline.
    </li>
    <li>
      <b>Edit names</b> of modules by clicking on the name of the module. Note that module names must be unique!
    </li>
    <li>
      <b>Remove</b> modules by clicking on <i class="fa fa-trash-o"></i>.
    </li>
    <li>
      <b>Inactivate/activate</b> modules by clicking on <i class="fa fa-eye"></i> / <i class="fa fa-eye-slash"></i>.
    </li>
    <li>
      <b>Select</b> a module by clicking on the respective list item.
    </li>
    <li>
      <b>Switch</b> between modules using the <i class="fa fa-arrow-up"></i> and <i class="fa fa-arrow-down"></i> keys to move to the previous or next module, respectively.
    </li>
  </ul>

</div>

<div class="modal-footer">

</div>

