# You can customize the renaming step, i.e. define the nomenclature for the
# encoding of image information in the output filenames. 
# To this end, you can chose form the following expressions:
# - project: 
#       basename for files that you provided (string)
# - channel: 
#       number of the wavelength in the acquisition sequence
# - filter: 
#       name of the wavelength filter (string) 
# - site: 
#       number of the imaging site in the acquisition sequence (integer)
# - time: 
#       time point of the acquisition (integer)
# - zstack: 
#       number of in the stack in the acquisition sequence
#       (note that z-stacks are combined in a .stk file per imaging site)
# - row: 
#       y index position in the stitched image (integer)
# - column: 
#       x index position in the stitched image (integer)
# - well:
#       id encoding the position in the well plate (string)

nomenclature_string: '{project}_{well}_s{site}_r{row}_c{column}_z{zstack}_t{time}_{filter}_C{channel}.png'

nomenclature_format: 
    project: '%s'
    well: '%s'
    site: '%.4d'
    row: '%.2d'
    column: '%.2d'
    zstack: '%.2d'
    time: '%.4d'
    filter: '%s'
    channel: '%.2d'

acquisition_mode: 'ZigZagHorizontal'

acquisition_layout: 'columns>rows'
