# You can customize the renaming step with a format string by defining the
# nomenclature for the encoding of image information in the output filenames.
 # 
# To this end, you can chose form the following expressions:
# :project:     basename for files that you provided (string)
# 
# :channel:     number of the wavelength in the acquisition sequence
# 
# :filter:      name of the wavelength filter (string) 
# 
# :site:        number of the site in the acquisition sequence in x-y (integer)
# 
# :time:        time point of the acquisition (integer)
# 
# :zstack:      number of the stack in the acquisition sequence in z (integer)
# 
# :row:         y index position of the image in the acquisition area (integer)
# 
# :column:      x index position of the image in the acquisition area (integer)
# 
# :well:        id encoding the position in the well plate (string)

FILENAME_FORMAT: '{project}_{well}_s{site:0>4}_r{row:0>2}_c{column:0>2}_z{zstack:0>2}_t{time:0>4}_{filter}_C{channel:0>2}.png'

ACQUISITION_MODE: 'ZigZagHorizontal'

ACQUISITION_LAYOUT: 'columns>rows'

OUTPUT_DIRECTORY_NAME: 'TIFF'
