#!/bin/bash
USERNAME=$1

SLURMUSER={{ tm_user }}

if [ "$USERNAME" == "" ]; then
    echo "No username specified." && exit
fi

sudo sacctmgr add account $USERNAME
sudo sacctmgr add user $SLURMUSER Account=$USERNAME
