<div class="channel-settings">

  <tm-multi-selection-box items="channelsCtrl.layers" by-name="'layer'">
    <tm-selectable-tabs>

      <tm-selectable-tab ng-controller="ChannelCtrl as ctrl">

        <tm-selectable-tab-popup>

          <h4>Minimum</h4>
          <span class="output" ng-bind="layer.min * 255"></span>
          <div ui-slider
               min="0" max="255"
               ng-model="ctrl.minInput"
               ng-change="ctrl.setLayerMin(layer, ctrl.minInput / 255)">
          </div>

          <h4>Maximum</h4>
          <span class="output" ng-bind="layer.max * 255"></span>
          <div ui-slider
               min="0" max="255"
               ng-model="ctrl.maxInput"
               ng-change="ctrl.setLayerMax(layer, ctrl.maxInput / 255)">
          </div>

          <h4>Brightness</h4>
          <span class="output" ng-bind="layer.brightness * 100"></span>
          <div ui-slider
               min="-50" max="50"
               ng-model="ctrl.brightnessInput"
               ng-change="ctrl.setLayerBrightness(layer, ctrl.brightnessInput / 100)">
          </div>

          <h4>Opacity</h4>
          <span class="output" ng-bind="layer.opacity * 100"></span>
          <div ui-slider
               min="0" max="100"
               ng-model="ctrl.opacityInput"
               ng-change="ctrl.setLayerOpacity(layer, ctrl.opacityInput / 100)">
          </div>

          <button ng-click="ctrl.setDefaultSettings(layer)">Reset</button>

        </tm-selectable-tab-popup>

        <tm-selectable-tab-content>
          <span class="inline-layer-control" tm-stop-click>
              <i ng-show="layer.visible" ng-click="layer.visible = false" class="fa fa-eye"></i>
              <i ng-hide="layer.visible" ng-click="layer.visible = true" class="fa fa-circle-thin"></i>
          </span>

          <div class="inline-color-switcher" tm-stop-click>
            <button ng-click="ctrl.setColor(layer, ctrl.color.RED)"
                    ng-class="{active: ctrl.isRed(layer)}"
                    class="r">R
            </button><button ng-click="ctrl.setColor(layer, ctrl.color.GREEN)"
                             ng-class="{active: ctrl.isGreen(layer)}"
                    class="g">G
            </button><button ng-click="ctrl.setColor(layer, ctrl.color.BLUE)"
                             ng-class="{active: ctrl.isBlue(layer)}"
                    class="b">B
            </button>
          </div>

          <!-- <input type="text" ng-model="layer.name" tm-stop-click></input> -->
          <span contenteditable strip-br="true" ng-model="layer.name"
               select-non-editable="true">
          </span>

        </tm-selectable-tab-content>

      </tm-selectable-tab>

    </tm-selectable-tabs>

    <tm-multi-selection-controls ng-controller="ChannelControlsCtrl as controlsCtrl">
      <button ng-click="controlsCtrl.removeSelectedLayers()"
              ng-show="selectionBox.hasSelectedItems()">
        <i class="fa fa-trash"></i>
      </button>
    </tm-multi-selection-controls>

  </tm-multi-selection-box>

</div>
