# TmSetup - Automated setup and deployment of TissueMAPS in the cloud.
# Copyright (C) 2016  Markus D. Herrmann, University of Zurich

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

---
# Playbook for creating a virtual machine instance on Elastic Compute Cloud 2 (EC2).
#
# Requires the following environment variables:
#  - AWS_ACCESS_KEY_ID
#  - AWS_SECRET_ACCESS_KEY
- name: Define boot disk
  set_fact:
    instance_disks:
      # TODO: SSD device for root file system?
      - device_name: /dev/sda1
        volume_size: "{{ disk_size }}"
        volume_type: gp2
        delete_on_termination: yes
  when: disk_size is defined

- name: Use default boot disk
  set_fact:
    instance_disks: []
  when: disk_size is not defined

- name: Trigger creation of instance
  set_fact:
    instance_count: 1
  when: instance_state == 'present'

- name: Trigger removal of instance
  set_fact:
    instance_count: 0
  when: instance_state == 'absent'

- name: "{{ (instance_state == 'present') | ternary('Create','Remove') }} instance"
  local_action: ec2
  args:
    # state: "{{ instance_state }}"
    key_name: "{{ key_name }}"
    image: "{{ image }}"
    instance_type: "{{ flavor }}"
    instance_tags:
       Name: "{{ instance_name }}"
    count_tag: Name
    exact_count: "{{ instance_count }}"
    groups: "{{ security_groups }}"
    wait: true
    wait_timeout: 300
    volumes: "{{ instance_disks }}"
    assign_public_ip: "{{ assign_public_ip }}"
    # ebs_optimized: no
    # vpc_subnet_id: "{{ network }}"
    region: "{{ region }}"
  register: instance

- debug:
    msg: "{{ (instance.instances|length) == 0 }}"

- name: Register host IP address of existing instance
  set_fact:
    ansible_host: "{{ instance.tagged_instances[0].public_ip if assign_public_ip else instance.tagged_instances[0].private_ip }}"
  when: instance_state == 'present' and (instance.instances|length) == 0

- name: Register host IP address of created instance
  set_fact:
    ansible_host: "{{ instance.instances[0].public_ip if assign_public_ip else instance.instances[0].private_ip }}"
  when: instance_state == 'present' and (instance.instances|length) != 0 and not assign_public_ip

- name: Get ID of existing instance
  set_fact:
    instance_id: "{{ instance.tagged_instances[0].id }}"
  when: instance_state == 'present' and (instance.instances|length) == 0

- name: Get ID of created instance
  set_fact:
    instance_id: "{{ instance.instances[0].id }}"
  when: instance_state == 'present' and (instance.instances|length) != 0

- name: "Create storage volume and attach it to instance"
  local_action: ec2_vol
  args:
    state: "{{ instance_state }}"
    device_name: "{{ volume_device_mapping[provider] }}"
    instance: "{{ instance_id }}"
    delete_on_termination: yes
    name: "{{ volume_name }}"
    region: "{{ region }}"
    volume_type: standard
    volume_size: "{{ volume_size }}"
  register: volume
  when: instance_state == 'present' and volume_size is defined

- name: Unregister host
  set_fact:
    ansible_host: null
  when: instance_state == 'absent'
