# systemd service for PostgreSQL clusters

[Unit]
Description=Citus PostgreSQL Cluster {{ db_node_kind }}

[Service]
Type=notify
User=postgres
Group=postgres
ExecStart={{ db_executable_directory }}/postgres -p {{ db_port[db_node_kind] }} -D {{ db_data_directory }}/{{ db_node_kind }} -r {{ db_log_directory }}/postgresql-{{ db_node_kind }}.log
ExecStop={{ db_executable_directory }}/pg_ctl stop -w -m smart -o "-p {{ db_port[db_node_kind] }}" -D {{ db_data_directory }}/{{ db_node_kind }}
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=postgresql@{{ db_node_kind }}
# prevent OOM killer from choosing the postmaster (individual backends will
# reset the score to 0)
# OOMScoreAdjust=-900
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0

[Install]
WantedBy=multi-user.target
