<div class="sidebar">
    <div class="sidebar-section channel-section">
        <div class="sidebar-section-title">
            <span>
                Channels
            </span>
        </div>
        <div class="sidebar-section-content">
            <tm-channel-settings viewport="viewport" channels="viewer.channels"/>
        </div>
    </div>

    <div class="sidebar-section object-section">
        <div class="sidebar-section-title" tm-resize-handle>
            <span>
                Objects
            </span>
        </div>
        <div class="sidebar-section-content">
            <tm-object-settings viewport="viewport"/>
        </div>
    </div>

    <div class="sidebar-section selection-section">
        <div class="sidebar-section-title" tm-resize-handle>
            <span>
                Selections
            </span>
        </div>
        <div class="sidebar-section-content">
            <tm-selection-settings viewport="viewport"/>
        </div>
    </div>

    <div class="sidebar-section saved-results-section">
        <div class="sidebar-section-title" tm-resize-handle>
            <span>Saved results</span>
        </div>
        <div class="sidebar-section-content">
          <tm-results-settings viewer="viewer" results="viewer.savedResults"/>
        </div>
    </div>

    <div class="sidebar-section current-result-section" tm-no-resize>
        <div class="sidebar-section-title">
            <span>Current result</span>
        </div>
        <div class="sidebar-section-content" ng-controller="CurrentResultCtrl as currentResultCtrl">
          <tm-multi-selection-box items="currentResultCtrl.results" by-name="'result'">
            <tm-selectable-tabs>
              <tm-selectable-tab ng-controller="ResultCtrl as resultCtrl">
                <tm-selectable-tab-popup>
                  <h4>Opacity</h4>
                  <span class="output" ng-bind="resultCtrl.opacityInput"></span>
                  <div ui-slider
                       min="0" max="100"
                       ng-model="resultCtrl.opacityInput">
                  </div>
                </tm-selectable-tab-popup>

                <tm-selectable-tab-content>
                  <span class="inline-layer-control" tm-stop-click>
                      <i ng-show="result.visible" ng-click="result.visible = false"
                          class="fa fa-eye"></i>
                      <i ng-hide="result.visible" ng-click="result.visible = true"
                          class="fa fa-circle-thin"></i>
                  </span>
                  <span class="inline-layer-control" tm-stop-click>
                      <i ng-click="viewer.saveCurrentResult()" class="fa fa-floppy-o"></i>
                  </span>
                  <!-- <input type="text" ng-model="result.name" tm-stop-click></input> -->
                  <span contenteditable strip-br="true" ng-model="result.name"
                       select-non-editable="true">
                  </span>

                </tm-selectable-tab-content>
              </tm-selectable-tab>
            </tm-selectable-tabs>
          </tm-multi-selection-box>
        </div>
    </div>
</div>
