<div class="sidebar">
    <div class="sidebar-section channel-section">
        <div class="sidebar-section-title">
            <span>
                Channels
            </span>
        </div>
        <div class="sidebar-section-content">
            <tm-channel-settings viewport="viewport"/>
        </div>
    </div>

    <div class="sidebar-section object-section">
        <div class="sidebar-section-title" tm-resize-handle>
            <span>
                Objects
            </span>
        </div>
        <div class="sidebar-section-content">
            <tm-object-settings viewport="viewport"/>
        </div>
    </div>

    <div class="sidebar-section selection-section">
        <div class="sidebar-section-title" tm-resize-handle>
            <span>
                Selections
            </span>
        </div>
        <div class="sidebar-section-content">
            <tm-selection-settings viewport="viewport"/>
        </div>
    </div>

    <div class="sidebar-section saved-results-section">
        <div class="sidebar-section-title" tm-resize-handle>
            <span>Saved results</span>
        </div>
        <div class="sidebar-section-content">
            <tm-visual-layer-settings viewport="viewport" layers="viewer.savedResults"/>
        </div>
    </div>

    <div class="sidebar-section current-result-section">
        <div class="sidebar-section-title" tm-resize-handle>
            <span>Current result</span>
        </div>
        <div class="sidebar-section-content">
            <ul class="tm-selectable-tabs">
                <li ng-show="viewer.currentResult" class="tm-selectable-tab-li">
                    <div class="tm-selectable-tab-popup">
                        <div class="tm-selectable-tab-popup-button">
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <!-- <div class="tm-selectable-tab-popup-content"></div> -->
                    </div>
                    <div class="tm-selectable-tab-content">
                      <span class="inline-layer-control" tm-stop-click>
                          <i ng-show="viewer.currentResult.visible" ng-click="viewer.currentResult.hide(viewer)"
                              class="fa fa-eye"></i>
                          <i ng-hide="viewer.currentResult.visible" ng-click="viewer.currentResult.show(viewer)"
                              class="fa fa-circle-thin"></i>
                      </span>
                      <span class="inline-layer-control" tm-stop-click>
                          <i ng-click="viewer.saveCurrentResult()" class="fa fa-floppy-o"></i>
                      </span>

                        {{ viewer.currentResult.name }}

                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
