# Ensure correct language settings
export LANG=en_US.UTF-8

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

# Java
export JAVA_HOME=/usr/lib/jvm/java-1.{{ java_version }}-openjdk

# Python
export PATH=/home/{{ tm_user }}/.local/bin:$PATH

# Matlab
export MATLABHOME=/usr/local/MATLAB/{{ matlab_version }}
export MATLABROOT=${MATLABHOME}
export MATLABPATH=/home/{{ tm_user }}/jtlibrary/src/matlab:$MATLABPATH
export MATLABPATH=/home/{{ tm_user }}/jtmodules/src/matlab:$MATLABPATH
