# TISSUEMAPS TOOLBOX CONFIGURATION SETTINGS
# =========================================
#
# Configuration of the experiment layout (directory structure and filename
# nomenclature) for image processing, pyramid creation and data analysis.
#
# The experiment layout is defined by format strings.
# To this end, you can use the following replacement fields:
#
# experiment_dir:
#   absolute path to the experiment folder (string)
# experiment:
#   name of the experiment folder, i.e. basename of 'experiment_dir' (string)                  
# subexperiment:
#   name of a subdirectory within the experiment folder (string)
# cycle:
#   number of the subexperiment (integer)
# channel:
#   number of the image in the multi-channel acquisition sequence
#   corresponding to a particular wavelength (integer)
# objects:
#   name of objects in a segmentation mask image (string)
# jtproject:
#   name of a Jterator project folder (string)

SUBEXPERIMENTS_EXIST: Yes

# Path format strings
IMAGE_FOLDER_LOCATION: '{experiment_dir}{sep}{subexperiment}{sep}images'
SHIFT_FOLDER_LOCATION: '{experiment_dir}{sep}{subexperiment}{sep}shift'
STATS_FOLDER_LOCATION: '{experiment_dir}{sep}{subexperiment}{sep}stats'
SEGMENTATION_FOLDER_LOCATION: '{experiment_dir}{sep}{subexperiment}{sep}segmentations'

# Filename format strings
SUBEXPERIMENT_FOLDER_FORMAT: '{experiment}_{cycle:0>2}'
SUBEXPERIMENT_FILE_FORMAT: '{experiment}_{cycle}'
STATS_FILE_FORMAT: 'illumstats_channel{channel:0>3}.h5'
SHIFT_FILE_FORMAT: 'shift_descriptor.json'

# Regular expression patterns to extract information encoded in filenames
EXPERIMENT_FROM_FILENAME: '^([^_]+)'
CYCLE_FROM_FILENAME: '_(\d+)_'
COORDINATES_FROM_FILENAME: '_r(\d+)_c(\d+)_'
COORDINATES_IN_FILENAME_ONE_BASED: Yes
SITE_FROM_FILENAME: '_s(\d+)_'
CHANNEL_FROM_FILENAME: 'C(\d+)\.png$'
OBJECTS_FROM_FILENAME: '_segmented(\w+).png$'

# Should Vips image processing library be used?
USE_VIPS_LIBRARY: Yes  # Required for pyramid creation!

# Hard-coded in TissueMAPS: Don't change these variables!
LAYERS_FOLDER_LOCATION: '{experiment_dir}{sep}layers'
ID_TABLES_FOLDER_LOCATION: '{experiment_dir}{sep}id_tables'
ID_PYRAMIDS_FOLDER_LOCATION: '{experiment_dir}{sep}id_pyramids'
DATA_FILE_LOCATION: '{experiment_dir}{sep}data.h5'
