# TISSUEMAPS TOOLBOX CONFIGURATION SETTINGS
# =========================================
#
# Describe the experimental layout (directory structure and filename nomenclature)
# by Python format strings. To this end, you can choose from the following keywords:
#
# {experiment_dir}  Absolute path to the experiment folder (string).
#
# {experiment}      Name of the experiment folder, i.e. basename of "experiment_dir" (string).
#                  
# {subexperiment}   Name of a subdirectory within the experiment folder (string).
# 
# {channel}         Number of the corresponding wavelength of a channel image (integer).
# 
# {filter}          Name of the wavelength filter (string).
# 
# {site}            Number of the image in the acquisition sequence in x-y (integer).
# 
# {time}            Time point of the acquisition (integer).
# 
# {zstack}          Number of the stack in the acquisition sequence in z (integer).
# 
# {row}             Y index position of the image in the acquisition area (integer).
# 
# {column}          X index position of the image in the acquisition area (integer).
# 
# {well}            Id encoding the position in the well plate (string).
# 
# {objects}         Name of the objects in a segmentation label image (string)
# 
# {suffix}          Filename suffix, e.g. ".tiff" (sting)

SUBEXPERIMENTS_EXIST: Yes
INFO_FROM_FILENAME: Yes
USE_VIPS_LIBRARY: Yes  # Required for pyramid creation!
COORDINATES_IN_FILENAME_ONE_BASED: Yes

SUBEXPERIMENT_FOLDER_FORMAT: '{experiment}_{cycle:0>2}'

IMAGE_FOLDER_FORMAT: '{experiment_dir}{sep}{subexperiment}{sep}images'
IMAGE_FILE_FORMAT: '{experiment}_{cycle}_s{site:0>4}_r{row:0>2}_c{column:0>2}_C{channel:0>2}{suffix}'
IMAGE_INFO_FILE_FORMAT: 'image_info.yaml'

SEGMENTATION_FOLDER_FORMAT: '{experiment_dir}{sep}{subexperiment}{sep}segmentation'
SEGMENTATION_FILE_FORMAT: '{experiment}_{cycle}_s{site:0>4}_r{row:0>2}_c{column:0>2}_segmented{objects}{suffix}'
SEGMENTATION_INFO_FILE_FORMAT: 'segmentation_info.yaml'

STATS_FOLDER_FORMAT: '{experiment_dir}{sep}{subexperiment}{sep}stats'
STATS_FILE_FORMAT: 'illumstats_channel{channel:0>3}.h5'

SHIFT_FOLDER_FORMAT: '{experiment_dir}{sep}{subexperiment}{sep}shift'
SHIFT_FILE_FORMAT: 'shift_descriptor.json'

DATA_FILE_FORMAT: '{experiment_dir}{sep}data.csv'
