# TISSUEMAPS TOOLBOX CONFIGURATION SETTINGS
# =========================================
#
# Configuration of the experiment layout (directory structure and filename
# nomenclature) for image preprocessing, pyramid creation and data
# postprocessing.
#
# The experiment layout is defined by format strings.
# To this end, you can choose from the following keywords:
#
# experiment_dir:      Absolute path to the experiment folder (string)
# experiment:          Name of the experiment folder, i.e. basename of 
#                      'experiment_dir' (string).                  
# subexperiment:       Name of a subdirectory within the experiment folder (string).
# cycle:               Number of the subexperiment (integer).
# channel:             Number of the image in the multi-channel acquisition sequence
#                      corresponding to a particular wavelength (integer).
# objects:             Name of objects in a segmentation/mask image (string).
# jtproject:           Name of a Jterator project folder (string).

# Does your experiment folder contain any subexperiments?
SUBEXPERIMENTS_EXIST: Yes
# If yes, how are these subexperiment folders and their files formatted?
SUBEXPERIMENT_FOLDER_FORMAT: '{experiment}_{cycle:0>2}'
SUBEXPERIMENT_FILE_FORMAT: '{experiment}_{cycle}'

# Where is the shift information stored, which is required to align images
# acquired in different cycles?
SHIFT_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/ALIGNCYCLES'
SHIFT_FILE_FORMAT: 'shiftDescriptor.json'
IMAGE_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/TIFF'
SEGMENTATION_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/SEGMENTATION'
STATS_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/BATCH'
STATS_FILE_FORMAT: 'Illumstats_channel{channel:0>3}.h5'
MEASUREMENT_FOLDER_LOCATION: '{experiment_dir}/{subexperiment}/{jtproject}/data'

# How to extract relevant information from filenames?
EXPERIMENT_FROM_FILENAME: '^([^_]+)'
CYCLE_FROM_FILENAME: '_(\d+)_'
COORDINATES_FROM_FILENAME: '_r(\d+)_c(\d+)_'
COORDINATES_IN_FILENAME_ONE_BASED: Yes
SITE_FROM_FILENAME: '_s(\d+)_'
CHANNEL_FROM_FILENAME: 'C(\d+)\.png$'
OBJECTS_FROM_FILENAME: '_segmented(\w+).png$'

# Should Vips image processing library be used? Required for pyramid creation!
USE_VIPS_LIBRARY: Yes

# TissueMAPS input: Don't change these variables!
LAYERS_FOLDER_LOCATION: '{experiment_dir}/layers'
ID_TABLES_FOLDER_LOCATION: '{experiment_dir}/id_tables'
ID_PYRAMIDS_FOLDER_LOCATION: '{experiment_dir}/id_pyramids'
DATA_FILE_LOCATION: '{experiment_dir}/data.h5'
