# ILLUMINATI CONFIGURATION FILE
# =============================

STITCH_DIMENSIONS:
  n_rows: 10
  n_columns: 10

ZIG_ZAG: true
VERT_HORZ: horizontal

LAYERS_FOLDER_FORMAT: '{experiment_dir}{sep}layers'
ID_TABLES_FOLDER_FORMAT: '{experiment_dir}{sep}id_tables'
ID_PYRAMIDS_FOLDER_FORMAT: '{experiment_dir}{sep}id_pyramids'
