<div class="instance-viewport">

    <tm-toolbar app-instance="appInstance"></tm-toolbar>

    <div class="map-container"></div>

    <div class="sidebar">

        <div class="sidebar-section channel-section">
            <div class="sidebar-section-title">
                <span>
                    Channels
                </span>
            </div>
            <div class="sidebar-section-content">
                <tm-channel-settings viewport="viewport"/>
            </div>
        </div>

        <div class="sidebar-section object-section">
            <div class="sidebar-section-title" tm-resize-handle>
                <span>
                    Objects
                </span>
            </div>
            <div class="sidebar-section-content">
                <tm-visual-layer-settings viewport="viewport" content-type="'mapObject'"/>
            </div>
        </div>

        <div class="sidebar-section selection-section">
            <div class="sidebar-section-title" tm-resize-handle>
                <span>
                    Selections
                </span>
            </div>
            <div class="sidebar-section-content">
                <tm-selection-settings viewport="viewport"/>
            </div>
        </div>

        <div class="sidebar-section result-section">
            <div class="sidebar-section-title" tm-resize-handle>
                <span>Results</span>
            </div>
            <div class="sidebar-section-content">
                <tm-visual-layer-settings viewport="viewport" content-type="'result'"/>
            </div>
        </div>
    </div>


</div>
