[defaults]
# Using mulitple forks bring hugh performance benefits.
# Depending on the size of the deploying machine this value can be further
# increased to 50 or 100. If the machine is too small, this may lead to memory
# problems.
forks = 20
# Since we connect to target hosts via a bastion hosts it may take some time
# to establish the connection.
timeout = 240
host_key_checking = False
remote_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
control_path = ~/.ssh/ansible-%%r@%%h:%%p
pipelining = True
