/var/log/uwsgi/tissuemaps.log
{
  rotate 8
  weekly
  compress
  delaycompress
  missingok
  create 0770 {{tm_user}} {{tm_group}}
  postrotate
    echo 'l' > /var/run/uwsgi/master.fifo
  endscript
}


{{ tm_home }}/tissuemaps-access.log
{{ tm_home }}/tissuemaps-error.log
{
  rotate 8
  weekly
  compress
  delaycompress
  missingok
  create 0770 {{tm_user}} {{tm_group}}
  postrotate
    # tell NginX to reopen logs!
  endscript
}
