#
# Control (auto)start of JupyterHub through `supervisor`
# (http://supervisord.org/)
#

[program:tm_jobdaemon]
command={{ tm_home }}/.local/bin/tm_jobdaemon.py --foreground --working-dir {{jobdaemon_directory}} --listen localhost:9197 -s {{jobdaemon_directory}} -u "postgresql://tissuemaps@{{ tm_db_host }}/tissuemaps#table=tasks"
user={{ tm_user }}
environment=HOME="{{ tm_home }}",USER="{{ tm_user }}",LOGNAME="{{ tm_user }}",SHELL="/bin/sh"

# mark process as failed if it exists before this nr. of seconds
startsecs=30
stopwaitsecs=30

directory={{ tm_home }}
autostart=true
autorestart=true
startretries=1

redirect_stderr=true
stdout_logfile=/var/log/tm_jobdaemon.supervisord.log
