#
# Control (auto)start of TM Flask App through `supervisor`
# (http://supervisord.org/)
#

[program:tm_server]
command=uwsgi --ini {{ tm_home }}/.tmaps/uwsgi.ini
environment=HOME="{{ tm_home }}",USER="{{ tm_user }}",LOGNAME="{{ tm_user }}",SHELL="/bin/sh",PATH="{{ tm_home }}/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin",TMAPS_DB_HOST="{{ tm_db_host }}"
# user switching is done by uWSGI
user=root

directory={{ tm_home }}
autostart=true
autorestart=true
startretries=1

redirect_stderr=true
stdout_logfile=/var/log/tm_server.supervisord.log
