# VISI CONFIGURATION FILE
# =======================
#
# You can customize the renaming step using a format string to define the
# nomenclature for the encoding of image information in the output filenames.
# 
# To this end, you can chose from the following keywords:
#
# :project:     Basename of files that you provided (string).
# 
# :channel:     Number of the wavelength in the acquisition sequence.
# 
# :filter:      Name of the wavelength filter (string).
# 
# :site:        Number of the image in the acquisition sequence in x-y (integer).
# 
# :time:        Time point of the acquisition (integer).
# 
# :zstack:      Number of the stack in the acquisition sequence in z (integer).
# 
# :row:         Y index position of the image in the acquisition area (integer).
# 
# :column:      X index position of the image in the acquisition area (integer).
# 
# :well:        Id encoding the position in the well plate (string).

FILENAME_FORMAT: '{project}_s{site:0>4}_r{row:0>2}_c{column:0>2}_{filter}_C{channel:0>2}.png'

ACQUISITION_MODE: 'ZigZagHorizontal'

ACQUISITION_LAYOUT: 'columns>rows'
