TESTING = False
DEBUG = False

SQLALCHEMY_DATABASE_URI = \
    'postgresql://SOME_USER_NAME:SOME_USER_PASSWORD@localhost:5432/tissuemaps'

REDIS_URL = 'redis://localhost:6379'

USE_SPARK = False
SPARK_MASTER = 'local'
SPARK_HOME = '/usr/lib/spark'
SPARK_DB_URL = \
    'postgresql://localhost:5432/tissuemaps?user=SOME_USER_NAME&password=SOME_USER_PASSOWORD'
