<!doctype html>
<html ng-app="tmaps.tools">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title ng-bind="tool.name"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/resources/img/favicon.ico">


  <!-- ================================================================
       |                             JS                               |
       ================================================================ -->

  <!-- build:js script-tools.min.js -->
      <script src="/libs/bower/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
      <!-- Custom jquery build with required components for slider and sortable widget -->
      <!-- http://jqueryui.com/download/#!version=1.10&components=1110000010000000000000000000000000 -->
      <script src="/libs/unmanaged/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

      <script src="/libs/bower/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>

      <!-- No openlayers included-->

      <!-- Angular -->
      <script src="/libs/bower/angular/angular.js" type="text/javascript" charset="utf-8"></script>
      <script src="/libs/bower/angular-ui-router/release/angular-ui-router.js" type="text/javascript" charset="utf-8"></script>
      <script src="/libs/bower/angular-sanitize/angular-sanitize.js"></script>

      <!-- Highcharts -->
      <script src="/libs/bower/highcharts/highcharts.js" type="text/javascript" charset="utf-8"></script>
      <script src="/libs/bower/highcharts-ng/dist/highcharts-ng.min.js" type="text/javascript" charset="utf-8"></script>

      <!-- Angular UI -->
      <script src="/libs/bower/angular-ui-sortable/sortable.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="/libs/bower/angular-ui-slider/src/slider.js" type="text/javascript" charset="utf-8"></script>
      <script src="/libs/bower/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js" type="text/javascript" charset="utf-8"></script>

      <!-- Other plugins -->
      <script src="/libs/bower/ng-color-picker/color-picker.js" type="text/javascript" charset="utf-8"></script>
      <!-- I made some small changes to the following file since it had some bugs and the pull requests weren't accepted on the original repo -->
      <script src="/libs/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js" type="text/javascript" charset="utf-8"></script>
      <script src="/libs/unmanaged/angular-perfect-scrollbar.js" type="text/javascript" charset="utf-8"></script>

      <script src="/libs/bower/ng-websocket/ng-websocket.js" type="text/javascript" charset="utf-8"></script>

      <!-- Application code -->
      <!-- All source files are linked here in a preprocessing step by 'grunt-glob-html' -->

      <!-- Module declaration -->
      <script src="/src/tmaps.shared.js" type="text/javascript" charset="utf-8"></script>
      <!-- Other files -->
      <!-- include: "type": "js", "files": ["src/shared/**/*.js", "!src/shared/**/*.test.js"] -->

      <!-- Module declaration -->
      <script src="/src/tmaps.tools.js" type="text/javascript" charset="utf-8"></script>
      <!-- Other files -->
      <!-- include: "type": "js", "files": ["src/tools/**/*.js", "!src/tools/**/*.test.js"] -->

  <!-- endbuild -->



  <!-- ================================================================
       |                             CSS                              |
       ================================================================ -->
  <!-- build:css style-tools.min.css -->
      <!-- Unmanaged styles -->
      <link rel="stylesheet" href="/styles/css/bootstrap.css">

      <!-- TODO: Maybe remove the following two styles if they aren't needed -->
      <link rel="stylesheet" href="/styles/css/jquery-ui.css">
      <link rel="stylesheet" href="/styles/css/jquery.ui.theme.css">

      <!-- Styles of bower-installed libs -->
      <link rel="stylesheet" href="/libs/bower/ng-color-picker/color-picker.css">
      <link rel="stylesheet" href="/libs/bower/perfect-scrollbar/css/perfect-scrollbar.css">
      <link rel="stylesheet" href="/libs/bower/fontawesome/css/font-awesome.css">

      <!-- Applications style -->
      <link rel="stylesheet" href="/build/style-tools.css">
  <!-- endbuild -->




  <!-- ================================================================
       |                             DEV                              |
       ================================================================ -->
  <!-- Usemin will remove this part when building for production
       since 'dev' is an unknown block type -->
  <!-- build:dev -->
       <script src="//localhost:35729/livereload.js"></script>
  <!-- endbuild -->

</head>

<body>

  <!-- This view will be filled by the route service -->
  <ui-view></ui-view>

</body>
</html>


