@import "variables.less";

.jtui {

    .right-pane {
        background: white;
        position: absolute;
        margin-left: calc(~'@{left-side-pane-width} + @{left-pane-width}');
        border-right: 1px solid black;
        width: @right-pane-width;
        height: 100%;

        .error-input {
            background-color: @brand-danger;
        }

        .error-text {
            color: @brand-danger;
        }

    }
}

