# DATAFUSION CONFIGURATION FILE
# =============================
#
# CYCLE_CHANNELS maps the name of the channel image given by Jterator to the
# name of the used stain in a particular cycle.

CYCLE_CHANNELS:
    - 1:
        DAPI: DAPI
        RFP: EEA1
    - 2:
        DAPI: DAPI
        RFP: EEA1
    - 3:
        DAPI: DAPI
        Cy5: Celltrace
