[auth/noauth]
type=none

[auth/tmaps]
type=ssh
username=tmaps

[resource/localhost]
enabled=no
type=shellcmd
auth=noauth
transport=local
# where the GNU `time` command is located;
# the default is fine on almost any Linux distribution.
#time_cmd=/usr/bin/time
# max_cores sets a limit on the number of cuncurrently-running jobs
max_cores=2
max_cores_per_job=2
# adjust the following to match the features of your local computer
max_memory_per_core=2 GB
max_walltime=2 hours
architecture=x64_64

[resource/slurmtmaps]
enabled=yes
type=slurm
transport=local
# Not used if transport != ssh
frontend=frontend001
auth=tmaps
architecture=x86_64
max_cores=80
max_cores_per_job=8
max_memory_per_core=1 TB
max_walltime=10 days

