<div class="login-form-container">

    <form name="loginForm"
          ng-controller="LoginCtrl as login"
          ng-submit="login.login(login.form.username, login.form.password)"
          novalidate>

      <!-- <label for="username">Username:</label> -->
      <input type="text" id="username" placeholder="Username"
             ng-model="login.form.username">

      <br>

      <!-- <label for="password">Password:</label> -->
      <input type="password" id="password"
             placeholder="Password"
             ng-model="login.form.password">

      <button type="submit">Login</button>
    </form>
</div>
