<table st-table="stepCtrl.workflow.stages[stepCtrl.currentStageIndex].steps[stepCtrl.currentStepIndex].jobs"
  class="table table-striped">

  <thead>
    <tr>
      <th></th>
      <th>phase</th>
      <th>id</th>
      <th>state</th>
      <th>exitcode</th>
      <th>memory (MB)</th>
      <th>time (HH:MM:SS)</th>
      <th>log</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="job in stepCtrl.workflow.stages[stepCtrl.currentStageIndex].steps[stepCtrl.currentStepIndex].jobs">
      <td>
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="color: red;"
          ng-show="job.status.failed">
        </i>
        <i class="fa fa-check-circle" aria-hidden="true" style="color: green;"
          ng-hide="job.status.failed">
        </i>
      </td>
      <td>{{ job.phase }}</td>
      <td>{{ job.id }}</td>
      <td>{{ job.status.state }}</td>
      <td>{{ job.status.exitcode }}</td>
      <td>{{ job.status.memory }}</td>
      <td>{{ job.status.time }}</td>
      <td>
        <button class="btn btn-default" ng-click="setupCtrl.getLogOutput(job)">
          <i class="fa fa-terminal"></i>
        </button>
      </td>
    </tr>
  </tbody>

</table>

