<div class="row setup-window">
  <div class="col-md-12 setup-window-content">

    <div class="row header">
      <div class="col-md-12">
        <h3>{{ setupCtrl.experiment.name }} ({{setupCtrl.experiment.status}})</h3>
      </div>
    </div>

    <div class="row stage-indicator-container">
      <div class="col-md-12">
        <ul class="stage-indicators">
          <li class="stage-indicator" ng-repeat="stage in setupCtrl.stages" ng-class="{active: setupCtrl.isInStage(stage)}"
            ng-click="setupCtrl.goToStage(stage)">
            {{::stage.name.replace('_', ' ')}}
          </li>
        </ul>
      </div>
    </div>

    <div class="row stage-view-container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 stage-view">
            <ui-view name="stage-view"></ui-view>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
