<div class="row setup-window">
  <div class="col-md-12 setup-window-content">

    <div class="row header">

      <div class="col-md-9">
          <h3>{{setupCtrl.workflowStatus.name}}</h3>
      </div>

      <div class="col-md-3">
        <i class="fa fa-cog fa-fw"
           ng-show="!setupCtrl.isRunning(setupCtrl.status)">
        </i>
        <i class="fa fa-cog fa-spin fa-fw"
           ng-show="setupCtrl.isRunning(setupCtrl.status)">
        </i>
        <i>{{setupCtrl.status.state}}</i>
        <!-- <h4>{{setupCtrl.experiment.name}} ({{setupCtrl.experiment.workflowStatus.state}})</h4> -->
        <uib-progressbar max="100" style="height: 15px;" value="setupCtrl.status.percent_done"
           type="{{setupCtrl.status.failed ? 'failed' : 'success'}}">
        </uib-progressbar>
      </div>

    </div>

    <div class="row stage-indicator-container">

      <div class="col-md-9">
        <ul class="stage-indicators">
          <li class="stage-indicator" ng-repeat="stage in setupCtrl.stages" ng-class="{active: setupCtrl.isInStage(stage)}"
            ng-click="setupCtrl.goToStage(stage)">
            <i ng-show="!stage.status.failed && stage.status.done" style="color: green;"
                class="fa fa-check-circle" aria-hidden="true">
            </i>
            <i ng-show="stage.status.failed" style="color: red;"
                class="fa fa-exclamation-circle" aria-hidden="true">
            </i>
            <i class="fa fa-question-circle"
               ng-show="setupCtrl.isSubmitted(stage.status)">
            </i>
            <i class="fa fa-cog fa-spin fa-fw"
               ng-show="setupCtrl.isRunning(stage.status)">
            </i>
            {{::stage.name.replace('_', ' ')}}
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <i class="fa fa-cog fa-fw"
           ng-show="!setupCtrl.isRunning(setupCtrl.currentStage.status)">
        </i>
        <i class="fa fa-cog fa-spin fa-fw"
           ng-show="setupCtrl.isRunning(setupCtrl.currentStage.status)">
        </i>
        <i>{{setupCtrl.currentStage.status.state}}</i>
        <uib-progressbar max="100" style="height: 15px;" value="setupCtrl.currentStage.status.percent_done"
           type="{{setupCtrl.currentStage.status.failed ? 'failed' : 'success'}}">
        </uib-progressbar>
      </div>

    </div>

    <div class="row stage-view-container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 stage-view">
            <ui-view name="stage-view"></ui-view>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
