<form ng-init="stage = stageCtrl.stage">
  <div class="col-md-6">
    <div ng-repeat="step in stage.steps">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{:: step.name }}
        </div>
        <div class="panel-body">

          <h4>Batch arguments</h4>
          <tm-argument-input arg="arg" ng-repeat="arg in step.batch_args"
              arg-collection="setupCtrl.args[stage.name][step.name].batch_args"></tm-argument-input>

          <h4>Submit arguments</h4>
          <tm-argument-input arg="arg" ng-repeat="arg in step.submission_args"
              arg-collection="setupCtrl.args[stage.name][step.name].submission_args"></tm-argument-input>

          <h4>Extra arguments</h4>
          <tm-argument-input arg="arg" ng-repeat="arg in step.extra_args"
              arg-collection="setupCtrl.args[stage.name][step.name].extra_args"></tm-argument-input>

          <div ng-show="stage.name == 'image_analysis'">
              <button class="btn btn-default"
                  ng-click="stageCtrl.editPipeline(step)">
                Edit pipeline
              </button>
              <button class="btn btn-default"
                  ng-click="stageCtrl.createPipeline(step)">
                Create new pipeline
              </button>
          </div>

        </div>
      </div>
    </div>

    <button ng-click="setupCtrl.submit()"
        ng-disabled="!setupCtrl.canSubmit()"
        class="btn btn-primary">
        Submit
    </button>

    <button ng-click="setupCtrl.kill()"
        ng-disabled="setupCtrl.submission.state != 'RUNNING'"
        class="btn btn-default">
        Kill
    </button>

  </div>
</form>

