<div class="form-group argument-input" ng-class="{blank: shouldAlert()}">
    <label>{{:: arg.name }}</label>
    <span ng-hide="{{ arg.required }}">(optional)</span>
    <input ng-if="widgetType == 'textInput'" type="text" ng-model="arg.value">
    <input ng-if="widgetType == 'numberInput'" type="number" ng-model="arg.value">
    <input ng-if="widgetType == 'checkbox'" type="checkbox">
    <div ng-if="widgetType == 'dropdown'">
        <select ng-model="arg.value">
            <option ng-repeat="choice in arg.choices" ng-value="choice">{{choice}}</option>
        </select>
    </div>
    <p class="help-block">
        {{:: arg.help }}
    </p>
</div>
