<div class="login-view">
  <div class="container">

      <form class="form-signin" name="loginForm"
            ng-controller="LoginCtrl as login"
            ng-submit="login.login(login.form.username, login.form.password)"
            novalidate>

        <h2 class="form-signin-heading">Please sign in</h2>

        <!-- <label for="username">Username:</label> -->
        <input class="form-control" type="text" id="username" placeholder="Username"
               ng-model="login.form.username">

        <!-- <label for="password">Password:</label> -->
        <input class="form-control" type="password" id="password"
               placeholder="Password"
               ng-model="login.form.password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
  </div>
</div>
