if [ -f ~/.bashrc ]; then
    . {{ tm_home }}/.bashrc
fi

# Make vim default editor
export EDITOR=vim;

# Slurm
export SQUEUE_FORMAT="%.18a %.18i %.40j %.8T %.10M %.9l %.6D %R"
export SACCT_FORMAT="Account,JobId,JobName%40,State,Exitcode,DerivedExitCode,Elapsed,CPUTime,AveCPU,AveDiskRead,AveDiskWrite"

# Postgres database
export PGPASSFILE=~/.pgpass
export TMAPS_DB_HOST=localhost
alias db="psql -h $TMAPS_DB_HOST tissuemaps tissuemaps"
alias sudb="psql -h $TMAPS_DB_HOST postgres postgres"
