alabaster==0.7.4
alembic==0.7.5.post2
argh==0.26.1
astroid==1.0.1
autowrap==0.6.0
Babel==1.3
bigfloat==0.3.0a2
binaryornot==0.3.0
biopython==1.62
brewer2mpl==1.4.1
click==3.3
closure-linter==2.3.13
cloud==2.8.5
colorama==0.3.3
cookiecutter==1.0.0
cssselect==0.9.1
Cython==0.22.1
Django==1.4.5
docutils==0.12
ecdsa==0.13
flake8==2.1.0
Flask==0.10.1
Flask-JWT==0.2.0
Flask-Login==0.2.11
Flask-Migrate==1.3.1
Flask-PyMongo==0.3.1
Flask-Script==2.0.5
Flask-SocketIO==0.6.0
Flask-SQLAlchemy==2.0
Flask-Testing==0.4.2
Flask-uWSGI-WebSocket==0.4.3
futures==2.2.0
gc3pie==2.4.0
gdata==2.0.18
gevent==1.0.1
gevent-socketio==0.3.6
gevent-websocket==0.9.5
ggplot==0.6.5
ghp-import==0.4.1
git-remote-helpers==0.1.0
gmpy==1.17
googlecl==0.9.14
greenlet==0.4.5
guidata==1.6.1
guiqwt==2.3.1
gunicorn==18.0
h5py==2.4.0
hashids==1.1.0
howdoi==1.1.6
HTSeq===0.6.1p1
ipdb==0.8
ipython==1.1.0
itsdangerous==0.24
jedi==0.9.0
jellyfish==0.2.0
Jinja2==2.7.3
json-rpc==1.9.1
jterator==0.1.1
julia==0.1.1
logilab-common==0.61.0
Mako==1.0.0
Markdown==2.4.1
MarkupSafe==0.23
matplotlib==1.4.2
mccabe==0.2.1
mkdocs==0.11.1
mlpy==3.5.0
mock==1.0.1
mpmath==0.17
msgpack-python==0.4.6
natsort==3.5.6
neovim==0.0.29
nltk==2.0.4
nose==1.3.4
numexpr==2.4.3
numpy==1.7.1
nwalign==0.3.1
panda==0.1.4
pandas==0.15.2
paramiko==1.15.2
parsedatetime==1.5
passlib==1.6.2
pathtools==0.1.2
patsy==0.4.0
pep257==0.3.2
pep8==1.4.6
Pillow==2.7.0
pipe==1.4.1
ply==3.4
prettytable==0.7.2
psycopg2==2.6
py==1.4.26
pyCLI==2.0.3
Pycluster==1.52
pycrypto==2.6.1
pyflakes==0.7.3
Pygments==2.0.2
pygobject==3.14.0
pylint==1.1.0
PyMarkovChain==1.7.5
pymc==2.3.4
pymongo==2.8
pymzml==0.7.5
pyobjc==2.5.1
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CalendarStore==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServerNotification==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyopenms===2.0-29-07-2015
pyparsing==2.0.3
pypng==0.0.17
pyprophet==0.13.3
pyquery==1.2.8
pystache==0.5.4
pytest==2.7.0
pytest-flask==0.8.1
python-dateutil==2.4.0
python-gflags==2.0
python-Levenshtein==0.10.1
python-magic==0.4.6
pytz==2014.10
PyYAML==3.10
pyzmq==14.0.0
ranger==1.6.1
requests==2.2.1
requests-cache==0.4.4
rpy2==2.3.8
Rtree==0.8.2
ruamel.base==0.1
ruamel.ordereddict==0.4.6
ruamel.std.argparse==0.5.1
ruamel.yaml==0.8
rumps==0.1.4
scikit-image==0.10.1
scikit-learn==0.16.1
scipy==0.16.0
service-factory==0.1.2
sh==1.11
Shapely==1.5.5
shovel==0.1.10
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
SQLAlchemy==1.0.0
statsmodels==0.6.1
stevedore==0.12
subprocess32==3.2.6
sympy==0.7.3
tabulate==0.7.5
tree-output==0.1.4
trollius==1.0.4
Twisted==14.0.2
Unidecode==0.4.14
uWSGI==2.0.10
virtualenv==13.1.0
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
Wand==0.3.9
watchdog==0.8.3
Werkzeug==0.10.4
wheel==0.24.0
WTForms==2.0.1
zope.interface==4.1.1
