description "uWSGI server instance configured to serve TissueMAPS"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ deploy_user }}
setgid {{ deploy_user }}

chdir {{ deploy_home_folder }}/.tmaps
exec env HOME={{ deploy_home_folder }} bash uwsgi.sh
