<div class="modal-header">

  <button type="button" class="close" ng-click="$dismiss('Cancel')" data-dismiss="modal" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>

  <h2 class="modal-title">Submit pipeline</h2>

</div>

<div class="modal-body">

  <p>
    Submit all jobs to the cluster for parallel processing.
  </p>

  <p>
    To test your pipeline on a few selected jobs click on the <i class="fa fa-play"></i> button.
  </p>

  <uib-alert>
    Note that submitted jobs run in headless mode, i.e. no figures will be generated.
  </uib-alert>

</div>

<div class="modal-footer">

  <button type="submit" ng-click="$close()"
          class="btn btn-primary" data-dismiss="modal">
     <i class="fa fa-forward"></i>
  </button>

</div>
