<div class="left-pane">

    <div class="pane-header">
        Pipeline Settings
    </div>

    <div class="pane-content">

        <div class="pane-subcontent" perfect-scrollbar>

            <div class="panel panel-default">

                <div class="panel-heading">
                    Input
                </div>

                <div class="panel-body">

                    <p>
                      Select <b>channels</b> for processing:
                    </p>

                    <p></p>

                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group"
                                ng-repeat="channel in project.pipe.description.input.channels">

                                <select class="form-control" id="channelName"
                                    ng-model="channel.name"
                                    ng-options="n for n in getSelectableChannelNames($index)">
                                </select>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="channel.correct">
                                        Correct illumination
                                    </label>
                                </div>

                    <!-- TODO: give user opportunity to look at the metadata of a layer -->

                            </div> 
                        </form>
                    </div>

                    <div btn-group role="group">
                        <button type="button" class="btn btn-jtui"
                                              ng-click="addChannel()">
                            <i class="fa fa-plus"></i>
                        </button>

                        <button type="button" class="btn btn-jtui"
                                            ng-click="removeChannel()">
                            <i class="fa fa-minus"></i>
                        </button>

                        <button type="button" class="btn btn-jtui"
                                            ng-click="listJobs()">
                            <i class="fa fa-list-ol"></i>
                        </button>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    Pipeline
                </div>

                <div class="panel-body">

                    <p>
                      Define the <b>modules</b> and the order in which they should be processed:
                    </p>

                    <div  class="list-group"
                        ui-sortable
                        ng-model="project.pipe.description.pipeline"
                        ng-drop="true"
                        ng-drop-success="onDropCompleteAdd($data, $event)">

                        <li ng-repeat="m in project.pipe.description.pipeline | filter:searchModules"
"
                            ui-sref="project.module({moduleName:m.name})"
                            class="list-group-item"
                            ng-class="{active: $stateParams.moduleName == m.name}">

                            <span type="button" >
                                <span ng-show="m.active"
                                      ng-click="deactivateModule($index, $event)"
                                      class="fa fa-eye" aria-label="Left Align"
                                      tm-stop-click>
                                </span>
                                <span ng-hide="m.active"
                                      ng-click="activateModule($index, $event)"
                                      class="fa fa-eye-slash"
                                      aria-label="Left Align"
                                      tm-stop-click>
                                </span>
                                &nbsp;
                            </span>

                            <span editable-text="m.name"
                                  onbeforesave="storeModuleName(m.name, $data)"
                                  onaftersave="editModuleName($index, m.name)"
                                  buttons="no">
                                  {{ m.name }}
                            </span>

                            <i class="fa fa-trash-o" style="float: right"
                                ng-click="removeModule(m, $parent, $event)"
                                tm-stop-click></i>

                        </li>

                    </div>

                    <div class="list-group-item-dashed"
                       ui-sortable
                       ng-if="project.pipe.description.pipeline.length == 0"
                       ng-model="project.pipe.description.pipeline"
                       ng-drop="true"
                       ng-drop-success="onDropCompleteAdd($data, $event)">

                        <i>Empty pipeline:</i>
                        <p></p>
                        <i>Drag modules and drop them here.</i>
                        </div>

                    </div>

                    <div btn-group role="group" aria-label="...">
                        <button type="button" class="btn btn-jtui"
                                            ng-click="getHelpForPipeline()">
                            <i class="fa fa-question"></i>
                        </button>

                        <button type="button" class="btn btn-jtui"
                                            ng-click="checkProject()">
                            <i class="fa fa-check"></i>
                        </button>

                        <button type="button" class="btn btn-jtui"
                                            ng-click="saveProject()">
                            <i class="fa fa-floppy-o"></i>
                        </button>

                        <button type="button" class="btn btn-jtui"
                                            ng-click="run()">
                            <i class="fa fa-play"></i>
                        </button>

                        <button type="button" class="btn btn-jtui"
                                            ng-click="kill()">
                            <i class="fa fa-stop"></i>
                        </button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="right-pane">

    <div class="pane-header">
        Module Settings
    </div>

    <div class="pane-content">
        <div ui-view="handles"></div>
    </div>
</div>

<div class="right-side-pane">
    <div class="pane-header">
        Results
    </div>

    <div class="pane-content">
        <div class="pane-subcontent" perfect-scrollbar>

            <div class="panel panel-default">

                <div class="panel-heading">
                    Job Submission Status
                </div>

                <div class="panel-body">

                    <i class="fa fa-cog fa-fw"
                       ng-hide="submission.state == 'RUNNING'">
                    </i>
                    <i class="fa fa-cog fa-spin fa-fw"
                       ng-show="submission.state == 'RUNNING'">
                    </i>
                    <i>{{ submission.state }}</i>

                    <uib-progressbar max="100" value="submission.progress" type="{{ submission.indicator }}">
                    </uib-progressbar>

                    <div ng-show="outputAvailable">
                        <div btn-group>

                            <button type="button"
                                    class="btn btn-jtui"
                                    ng-click="goToPreviousJob()">
                                <i class="fa fa-chevron-left"></i>
                            </button>

                            <button type="button"
                                    class="btn btn-jtui"
                                    ng-click="showJobLog()">
                                <i class="fa fa-terminal"></i>
                            </button>

                            <button type="button"
                                    class="btn btn-jtui"
                                    ng-click="goToNextJob()">
                                <i class="fa fa-chevron-right"></i>
                            </button>

                        </div>

                    </div>

                </div>

            </div>

            <div ui-view="runner"></div>

        </div>

</div>

