@import "variables.less";

@sidebar-size: 5%;

.jtui {

    .right-side-pane {
        background: white;
        margin-left: calc(~'@{left-side-pane-width} + @{left-pane-width} + @{right-pane-width}');
        position: absolute;
        width: @right-side-pane-width;
        height: 100%;

    .figure {
      // width: 100%;
      // height: 100%;
      // cursor: pointer;

      .svg {
        width: 100%;
        cursor: pointer;
      }
    }

    :-webkit-full-screen .figure {
      width: 100%;
    }

    :-moz-full-screen .figure {
        width: 100%;
    }


    :-ms-full-screen .figure {
        width: 100%;
    }


    :-o-full-screen .figure {
        width: 100%;
    }

    .logo {
      height: 15px;
      width: 15px;
      float: left;
    }
  }
}

