<h2>Create new plate</h2>

<form>
  <div class="form-group">
    <label>Name</label>
    <input type="text" ng-model="name">
    <p class="help-block">
      A descriptive name for this plate.
    </p>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" ng-model="description">
    <p class="help-block">
      An optional description of this plate.
    </p>
  </div>

  <div class="form-group">
    <button class="btn btn-primary"
        ng-click="createCtrl.createPlate(name, description)"
        ng-disabled="name === undefined || name === ''">
      Create
    </button>
  </div>
</form>

<div class="alert alert-danger" ng-show="createCtrl.error">
  {{ createCtrl.error }}
</div>
