plates_dir:
sources_dir:
layers_dir:
plate_format: 384
workflow:
    - name: metaextract
      args:
    - name: metaconfig
      args:
        format: cellvoyager
    - name: imextract
      args:
    - name: align
      args:
        ref_channel: 1
        ref_cycle: 2
    - name: corilla
      args:
    - name: illuminati
      args:
        shift: Yes
        illumcorr: Yes
        thresh: Yes

