/* https://github.com/bitprophet/alabaster/blob/master/alabaster/static/alabaster.css_t */
pre {
    background: #f2f2f2;
    padding: 7px 30px;
    margin: 15px 0px;
    line-height: 1.3em;
    border: 1px solid #bfbfbf;
    font-size: 0.7em;
}

dl dl pre {
    margin-left: 0px;
    padding-left: 90px;
}

dt {
    background-color: #f2f2f2;
}

code {
    /* color: #703040; */
    color: #544545;
}



